@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito+Sans&display=swap');
header {
    width: 1366px;
    height: 63px;
    display: flex;
    flex-direction: row;
    position: absolute;
}
/*616 25*/
#log {
    width: 31px;
    height: 25px;
    margin-left: 98px;
    margin-top: 38px;
    margin-right: 0px;
    margin-bottom: 0px;
}
#hom {
    width: 616px;
    height: 25px;
    margin-left: 524px;
    margin-top: 38px;
    margin-right: 97px;
    margin-bottom: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
}
#chos {
    color: #10c9c3;
}
.hText {
    cursor: pointer;
    color: #191919;
}
a {
    text-decoration: none;
    color: black
}
#weD {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
    color: #1d1d1d;
    font-size: 35pt;
    font-weight: bold;
}
#wear {
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 42px;
    color: #787878;
    font-size: 15pt
}
#cont {
    font-family: 'Montserrat', sans-serif;
    color: #effbfb;
    font-size: 12pt
}
#butt {
    width: 180px;
    height: 54px;
    background: #10c9c3;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 763px;
}
#banner {
    background-color: #e9e9e9; 
    width: 1366px;
    height: 670px;
    padding-top: 234px;
 
    margin: 0;
}
#text {
    margin-left: 763px;


}
body {
    padding: 0;
    margin: 0;
    background-color: : white;
    width: 1366px;
    height: 5797px
}
#about {
    /*width: 1366px;*/
    height: 319px;
    padding-left: 374px;
    padding-right: 394px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#ab {
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #191919;
    font-size: 30pt;
}
#div {
    margin-bottom: 40px;
    font-family: 'Nunito', sans-serif;
    color: #787878;
    font-size: 16pt;
    display: flex;
    justify-content: center;;
    align-items: center;
    flex-direction: column;
}
#sign {
    width: 222px;
    height: 57px;
}
#skills {
    background-color: #f8f9f9; 
    height: 570px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 100px
}
#content {
    margin-left: 98px;
}
#prof {
    font-family: 'Montserrat', sans-serif;
    font-size: 30pt;
    font-weight: bold;
    color: #171717;
    margin-top: 165px;
}
.UI {
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 41px
}
.rec {
    width: 500px;
    height: 3px;
    display: flex;
    background-color: #d8d8d8
}
/*10c9c3*/
#rect1 {
    background-color: #10c9c3;
    width: 75%;
}
#rect2 {
    background-color: #10c9c3;
    width: 90%;
}
#rect3 {
    background-color: #10c9c3;
    width: 65%;
}
#numb {
    height: 240px;
    background-color: #10c9c3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.numb {
    font-size: 18pt;
    margin-bottom: 16px
}
.symb {
    display: flex;
    align-items: center;
}
.mar {
    margin-left: 29px
}
.pe {
    width: 38px;
    height: 34px
}
#works {
    height: 699px
}
#gr {
    height: 599px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr
}
.i {
    width: 341px;
    height: 300px;
    filter: brightness(20%);

}
.bg-fon {
    filter: brightness(100%);
    margin: 0;
    width: 341px;
    height: 300px;
    cursor: pointer;
    transition: 0.2s
}
#load {
    background-color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100px;
    color: #8e8e8e;
    cursor: pointer;
}
#load:hover {
    background-color: #e3e3e3;
    text-replace: 0.2s;
}
#our {
    font-family: 'Montserrat', sans-serif;
    font-size: 30pt;
    margin-top: 101px;
    font-weight: bold;
    color: #191919;
    margin-left: 574px
}
#was {
    font-family: 'Nunito', sans-serif;
    font-size: 16pt;
    margin-top: 40px;
    color: #787878;
    margin-left: 150px;
    display: flex;
    justify-content: center;;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px
}
video {
    width: 1170px;
    height: 571px;
    cursor: pointer;
    margin-left: 98px;
    margin-right: 98px
}
#div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#playIc {
    width: 85px;
    height: 85px;
    background-color: #10c9c3;
    border-radius: 50%;
    position: absolute;
    left: 641px;
    top: 3478px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.non {
    opacity: 0
}
.uix {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #191919;
    margin-top: 31px;
    margin-bottom: 19px
}
.be {
    font-family: 'Nunito', sans-serif;
    font-size: 16pt;
    color: #787878
}
#serv {
    height: 535px;
    background-color: #f5f5f5;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr
}
.serv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.bes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#test {
    height: 500px;
    background-color: #10c9c3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.outst {
    font-size: 24pt;
    /*width: 675px;
    height: 93px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#text1 {
    font-family: 'Montserrat', sans-serif;
    color: white;
}
#mich {
    display: flex;
    justify-content: center;
    margin-top: 40px
}
.nonact {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #b0e8e6;
    cursor: pointer;
}
.act {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
}
#slid {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 40px;
    margin-top: 109px;
}
.na {
    position: absolute;
    opacity: 0%;
}
.a {
    position: static;
    opacity: 100%;
    transition: 0.5s
}
#clients {
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}